@use '../../shared/styles' as *;

$accent: $azure-blue;

.cart-list {
  padding: 0 2em;
  ul {
    margin: auto;
    padding: 0;
    max-width: 800px;
    li {
      @include border-gradient;
      list-style: none;
      flex-wrap: wrap;
      padding: 1.5em 2em;
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      text-align: center;

      .item-info {
        padding: 0.5em 1.5em;
        border-radius: 1.5em;
        background-color: $accent;
        p {
          font-size: 1.3em;
          font-weight: bold;
        }
        img {
          width: clamp(90px, 10vw, 200px);
        }
      }
      .amount-info {
        font-weight: bold;
        mat-form-field {
          width: 110px;
        }
        button {
          margin: 1em 1em;
        }
      }
    }
  }
}

.grey-text {
  background-color: $accent;
  border-radius: 2em;
  padding: 1em 0.8em;
  font-size: 1.1em;
}
