<div class="search">
  <h1>Discover your favorite Mangas</h1>
  <div class="content">
    <div class="search-field">
      <app-search-field (search)="handleSearchChange($event)" />
    </div>
    <app-manga-list
      [isLoading]="mangaDataResponse.isLoading()"
      [mangaList]="mangaListSig()" />
    <div class="paginator" [hidden]="mangaDataResponse.isLoading()">
      <mat-paginator
        showFirstLastButtons="true"
        [length]="totalItemsSig()"
        [pageSize]="pageSizeSig()"
        [pageSizeOptions]="[12, 24]"
        (page)="pageEvent($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
