<div class="page-wrapper">
  <h1>Manga Details</h1>
  <div class="wrapper">
    <div class="manga">
      <app-manga-card
        [fullWidthTitle]="true"
        [mangaData]="navigationState.mangaData"
      />
    </div>
    <div class="content">
      <div class="score">
        <h2>Ratings</h2>
        <p>Score: {{ navigationState.mangaData.score }} / 10</p>
        <p>Popularity {{ navigationState.mangaData.popularity }}</p>
        <p>Members {{ navigationState.mangaData.members }}</p>
      </div>
      <div class="synopsis">
        <h2>Synopsis</h2>
        <p>
          {{ navigationState.mangaData.synopsis }}
        </p>
      </div>
    </div>
  </div>
  <section class="price">
    <h1>Price: 20 Euro</h1>
  </section>
  <button mat-flat-button>Add to cart</button>
</div>
