@use "@angular/material" as mat;
@use "sass:map";
$icon-size: 25px;
$info-width: 400px;
$info-height: 300px;

$bg-color: map.get(
  $map: mat.$azure-palette,
  $key: 10,
);

$light-blue: map.get(
  $map: mat.$azure-palette,
  $key: 50,
);

$cherry: map.get(
  $map: mat.$red-palette,
  $key: 30,
);

.page-wrapper {
  padding: 0 2em;
  .manga-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2em;
    .content {
      max-width: $info-width;
      .score{
        .rating{
          display: flex;
          align-items: center;

          p{
            font-size: 1.2em;
            margin-right: .3em;
          } 

          mat-icon{
            font-size: $icon-size;
            height: $icon-size;
            width: $icon-size;

          }

        }
         
      }
    }

    .synopsis {
      max-height: 300px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $bg-color;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $light-blue;
        border-radius: 10px;
      }
    }
  }

  .payment {
    text-align: center;
    .payment-form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
    }

    h2 {
      text-align: right;
    }
  }
}
