<mat-card
[matTooltip]="mangaData().title_english"
matTooltipPosition="above"
appearance="raised">
  <mat-card-header>
    <mat-card-title>

      {{ mangaData().title }}
    </mat-card-title>
  </mat-card-header>
  <img
    loading="lazy"
    mat-card-image
    [src]="
      mangaData().images.jpg.image_url ||
      'https://placehold.co/400x500?text=No+Image'
    "
    alt="Manga Image"
  />
  <mat-card-actions>

    <button mat-mini-fab>
      <mat-icon>favorite</mat-icon>
    </button>

    <button  mat-mini-fab>
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
