@use '@angular/material' as mat;
@use 'sass:map';

$bg-color: map.get(
  $map: mat.$azure-palette,
  $key: 10,
);

$dark-blue: map.get(
  $map: mat.$azure-palette,
  $key: 0,
);

$cherry: map.get(
  $map: mat.$red-palette,
  $key: 30,
);

$manga-image-width: clamp(100px, 15vw, 220px);

mat-card {
  background-color: $bg-color;
  cursor: pointer;

  mat-card-title {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 0.5em;
    font-weight: bold;
    &:not(.full-width) {
      max-width: $manga-image-width;
    }
  }

  .mat-card-image,
  mat-card-header,
  mat-card-actions {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
  }

  img {
    width: $manga-image-width;
    height: calc($manga-image-width * 1.5);
    object-fit: cover;
  }
}

.btn-favorite {
  @include mat.fab-overrides(
    (
      small-container-color: $cherry,
    )
  );

  &.not-favorite {
    @include mat.fab-overrides(
      (
        small-container-color: $dark-blue,
        small-hover-container-elevation-shadow: 0px 4px 8px $cherry,
      )
    );
  }
}
