.spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: 100%;
}

.mat-toolbar {
    a {
        margin-left: 1em;
        text-decoration: none;
        text-emphasis: none;
        color: inherit;
    }
}