@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-cherry {
  @include mat.button-overrides(
    (
      filled-container-color: orange,
      filled-label-text-color: red,
    )
  );
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: green,
      supporting-text-color: white,
      button-color: white,
    )
  );
}

.snackbar-danger {
  @include mat.snack-bar-overrides(
    (
      container-color: red,
      supporting-text-color: white,
      button-color: white,
    )
  );
}
