.checkout {
  max-width: 80%;
  margin: auto;
  h1 {
    text-align: center;
  }

  .tab-group {
    text-align: center;

    form {
      max-width: clamp(300px, 50%, 600px);
      margin: auto;
      margin-top: 2em;
      mat-form-field {
        width: 100%;
      }
    }
    .summary {
      margin-bottom: 5em;
    }
  }
}
